.homepage {
  
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(209, 229, 225);
}


.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-text span {
  color: #4caf50;
}

.cta-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}